<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lori's Blog :D</title>
    </head>
    <body>
        <header>
            <h1><strong>Lori's Blog :D</strong></h1>
        </header>
        
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><strong>{{ post.title }}</strong></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>